<!-- Parent.svelte -->
<script lang="ts">
    import { flip } from "svelte/animate";
    import DraggableItem from "./DraggableItem.svelte";

    let items = ["Item 1", "Item 2", "Item 3", "Item 4", "Item 5"];
    let draggedItem: any;
    const handleDrag = (item: any) => {
        draggedItem = item;
    };
    const handleDrop = (targetItem: any) => {
        if (!draggedItem || !targetItem || draggedItem === targetItem) {
            return;
        }

        const droppedIndex = items.indexOf(draggedItem);
        const targetIndex = items.indexOf(targetItem);

        if (droppedIndex >= 0 && targetIndex >= 0) {
            items = [
                ...items.slice(0, droppedIndex),
                ...items.slice(droppedIndex + 1),
            ];

            items.splice(targetIndex, 0, draggedItem);
        }
    };
</script>

<div class="space-y-2">
    {#each items as item (item)}
        <div animate:flip={{ duration: 200 }}>
            <DraggableItem {item} onDrop={handleDrop} onDrag={handleDrag} />
        </div>
    {/each}
</div>
