<script lang="ts">
  import { onMount } from "svelte";
  let content = "BASICS";
  onMount(() => {});
  function runThisOnClick() {
    console.log("runThisOnClick");
  }
</script>

<div>{content}</div>
<button on:click={runThisOnClick}>click</button>
<input type="text" bind:value={content} />
