<script>
    // @ts-nocheck

    let hue = 0;
    let saturation = 50;
    let lightness = 50;

    function updateHue(e) {
        hue = e.target.value;
    }

    function updateSaturation(e) {
        saturation = e.target.value;
    }

    function updateLightness(e) {
        lightness = e.target.value;
    }
</script>

<div class="h-full flex items-center justify-center">
    <div
        class="w-64 h-64"
        style="background-color:hsl({hue}, {saturation}%, {lightness}%)"
    >
        <input
            type="range"
            min="0"
            max="360"
            value={hue}
            on:input={updateHue}
        />
        <input
            type="range"
            min="0"
            max="100"
            value={saturation}
            on:input={updateSaturation}
        />
        <input
            type="range"
            min="0"
            max="100"
            value={lightness}
            on:input={updateLightness}
        />
    </div>
</div>
