<script lang="ts">
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();
  let startPos: number;
  let endPos: number;
  let swipedFor: number;
  let swipeRightText: string = "Swipe right to start";
  function handleTouchStart(event: TouchEvent) {
    startPos = event.touches[0].clientX;
  }
  function handleTouchMove(event: TouchEvent) {
    swipedFor = event.touches[0].clientX - startPos;
    console.log("touch move", event.touches[0].clientX, startPos, swipedFor);
    event.preventDefault();
  }

  function handleTouchEnd(event: TouchEvent) {
    swipedFor = 0;
    endPos = event.changedTouches[0].clientX;
    const swipeDistance = endPos - startPos;

    // Adjust the threshold to your preference
    const swipeThreshold = 75;

    if (swipeDistance >= swipeThreshold) {
      dispatch("swipeRight");
    } else if (swipeDistance <= -swipeThreshold) {
      dispatch("swipeLeft");
    }
  }
</script>

<div class="relative mx-10">
  <div
    class="absolute w-full z-10"
    style:transform="translateX({swipedFor}px"
    style="width: calc(100% - {swipedFor}px);"
    on:touchstart={handleTouchStart}
    on:touchmove={handleTouchMove}
    on:touchend={handleTouchEnd}
  >
    <slot />
  </div>
  <div class="relative top-0 left-0 bg-green h-full w-full">
    {swipeRightText}
  </div>
</div>
