<script lang="ts">
  import { onMount } from "svelte";
  import { PointronEventEnum } from "$lib/client/types/pointron/pointronEvent.enum";
  import type { PointronEvent } from "$lib/client/types/pointron/pointronEvent.type";
  import { appStore } from "$lib/client/stores/app.store";
  import {
    pointronEvents,
    pointronPreferences
  } from "$lib/client/products/pointron/pointron.store";

  let src: string | null = null;
  let body: string = "";
  let audio: any;

  onMount(() => {
    const pointronEventSub = pointronEvents.subscribe(
      (event: PointronEvent) => {
        src = null;
        switch (event.event) {
          case PointronEventEnum.BREAK_ENDED:
            src = $pointronPreferences.breakEndSound ?? "/sounds/ping.wav";
            appStore.runAction(PointronEventEnum.PREDEFINED_INTERVAL_NOTIFIER);
            body = "Break ended";
            break;
          case PointronEventEnum.INTERVAL_ENDED:
            src = $pointronPreferences.focusEndSound ?? "/sounds/ping.wav";
            appStore.runAction(PointronEventEnum.PREDEFINED_INTERVAL_NOTIFIER);
            body = "Interval ended";
            break;
          case PointronEventEnum.BREAK_REMINDER:
            src = $pointronPreferences.focusEndSound ?? "/sounds/ping.wav";
            body = "Interval time limit reached";
            appStore.runAction(PointronEventEnum.BREAK_REMINDER);
            break;
          // case PointronEventEnum.PREDEFINED_INTERVAL_NOTIFIER:
          //   runAction(PointronEventEnum.PREDEFINED_INTERVAL_NOTIFIER);
          //   break;
          case PointronEventEnum.SESSION_FINISHED:
            src =
              $pointronPreferences.sessionFinishSound ?? "/sounds/dingding.mp3";
            appStore.runAction(PointronEventEnum.SESSION_FINISHED);
            break;
          case PointronEventEnum.SESSION_TIME_IS_UP:
            src =
              $pointronPreferences.sessionFinishSound ?? "/sounds/dingding.mp3";
            body = "Session finished";
            break;
        }
        if (src) {
          setTimeout(() => {
            // const notification = new Notification("Pointron session", {
            //   body,
            //   icon: "",
            // });
            console.log("playing sound", { event, src });
            audio?.play();
            setTimeout(() => {
              src = null;
              pointronEvents.reset();
            }, 2000);
          }, 200);
        }
      }
    );
    return () => {
      pointronEventSub();
    };
  });
</script>

<audio bind:this={audio} {src} />
